<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs', {page: 'Update State Info'}) %>
<body class="has-navbar-fixed-top has-background-grey-darker">
    <%- include ('./partials/nav.ejs') %>
    <section class="hero has-background-info-dark has-text-centered">
        <div class="hero-body">
            <h2 class="title is-2 has-text-light">Update <%= state.name %> State Info</h2>
        </div>
    </section>
    <main class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-two-thirds">
                <article class="card form-card has-background-grey-dark">
                    <form action="/states/<%= state._id %>?_method=PUT" method="POST">
                        <div class="field">
                            <label class="label has-text-light">State Name</label>
                            <div class="control">
                                <input class="input" type="text" name="name" placeholder="<%= state.name %>" value="<%= state.name %>">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Population</label>
                            <div class="control">
                                <input class="input" type="text" name="population" placeholder="<%= state.population %>" value="<%= state.population %>">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Demonym</label>
                            <div class="control">
                                <input class="input" type="text" name="demonym" placeholder="<%= state.demonym %>" value="<%= state.demonym %>">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Capital</label>
                            <div class="control">
                                <input class="input" type="text" name="capital" placeholder="<%= state.capital %>" value="<%= state.capital %>">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Largest City</label>
                            <div class="control">
                                <input class="input" type="text" name="largestCity" placeholder="<%= state.largestCity %>" value="<%= state.largestCity %>">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Flag Image</label>
                            <div class="control">
                                <input class="input" type="text" name="flagImg" placeholder="<%= state.flagImg %>" value="<%= state.flagImg %>">
                            </div>
                        </div>
                        <div class="field form-buttons is-grouped is-grouped-centered">
                            <div class="control">
                                <button class="button is-primary has-background-primary-dark" type="submit">Update State Info</button>
                            </div>
                        </div>
                    </form>
                    <form action="/states/<%= state._id %>?_method=DELETE" method="POST">
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" class="button is-danger has-background-danger-dark">Remove State</button>
                            </div>
                            <div class="control">
                                <a class="button is-light" href="/states/<%= state._id %>">Cancel</a>
                            </div>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </main>
</body>
</html>